@{
    ViewBag.Title = "Home Page";

    <div id="greeting-box">
        <p>
            Dobrodošli na Eferadu
        </p>
        <p>
            Da biste nastavili s radom potrebno je prijaviti se.
        </p>

    </div>
}
